:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;

    --skin-color: #c61919;
}


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&family=Roboto:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');


* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before, 
::after {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}


body {
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.section  {
    background-color: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    left: 370px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
}

/* Aside */

aside {
    width: 370px;
    background-color: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--bg-black-50);
    
}

 /* Logo */
aside .logo {
    position: absolute;
    top: 50px;
    font-size: 2rem;
    text-transform: capitalize;
}


aside .logo a {
    color: var(--text-black-700);
    font-weight: 700;
    padding: 1rem 1.25rem;
    font-size: 2rem;
    letter-spacing: 6px;
}

aside .logo a span {
    font-family: "Clicker Script", cursive;
    font-size: 2.5rem;
}

aside .logo a::before {
    content: "";
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

aside .logo a::after {
    content: "";
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}


/* Menu */

aside nav {
    margin-top: 3rem;
}

aside nav li {
    margin-bottom: 1.25rem;
    display: block;
}

aside nav li a {
    font-size: 1rem;
    letter-spacing: 2px;
    font-size: 1.5rem;
    display: block;
    columns: var(--text-black-900);
    padding: 5px 1rem;
    border-bottom: 1px solid var(--bg-black-50);
}


aside nav li a.active {
    color: var(--skin-color)
}

aside nav li a i {
    margin-right: 1rem;
}